# Lists

In [10]:
a = list(range(-5,6))
print(a)
print(a[4:9])

[-5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5]
[-1, 0, 1, 2, 3]

In [12]:
a = list(range(-3, 7))
print(a)
print(a[::-1])

[-3, -2, -1, 0, 1, 2, 3, 4, 5, 6]
[6, 5, 4, 3, 2, 1, 0, -1, -2, -3]

In [13]:
name = 'hello kitty'
a = name.split()
print(a)

['hello', 'kitty']

In [14]:
a = 'order1'
b = 'order2'
c = 'order3'
orders = []
orders.append(a)
orders.append(b)
orders.append(c)
print(orders)

['order1', 'order2', 'order3']

In [15]:
a = [1,1,3,4,5,5,5,8,9,0]
print(a.count(5))

3

In [16]:
my_books = ['book1', 'book2', 'book3', 'book4', 'book5']
tom_books = my_books.copy()
print(my_books, tom_books)

['book1', 'book2', 'book3', 'book4', 'book5'] ['book1', 'book2', 'book3', 'book4', 'book5']

In [18]:
nums = list(range(1,11))
print(nums)
nums.reverse()
print(nums)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [21]:
random_values = [3, 5, 0, -1, 2, 10, 15, -5]
random_values.sort()
print(random_values)

[-5, -1, 0, 2, 3, 5, 10, 15]

In [22]:
list1 = [5, 0.2, 'hello there', [1,2,3,4], 'bye']
print(list1)

[5, 0.2, 'hello there', [1, 2, 3, 4], 'bye']

# Dictionaries

In [24]:
empty_dict = dict()
print(empty_dict)

{}

In [26]:
alphabet_dict = {'a':1, 'b':2, 'c':3, 'd':4, 'e':5}
print(alphabet_dict['d'])

4

In [27]:
place_and_money = {1: 100, 2: 50, 3: 25}
place_and_money[4] = 5
print(place_and_money)

{1: 100, 2: 50, 3: 10, 4: 5}

In [28]:
place_and_money = {1: 100, 2: 50, 3: 25}
print(place_and_money)

{1: 100, 2: 50, 3: 25}

In [29]:
place_and_money = {1: 100, 2: 50, 3: 10}
print(place_and_money.keys())

dict_keys([1, 2, 3])

In [30]:
name_to_age = {'Anne': 22, 'Anton': 27, 'Phillip': 30}
print(name_to_age.keys())

dict_keys(['Anne', 'Anton', 'Phillip'])

In [31]:
name_to_age = {'Anne': 22, 'Anton': 27, 'Phillip': 30}
print(name_to_age.values())

dict_values([22, 27, 30])

In [32]:
place_and_money = {1: 100, 2: 50, 3: 10}

print(place_and_money.values())

dict_values([100, 50, 10])

In [34]:
place_and_money = {1: 100, 2: 50, 3: 10}
print(place_and_money.get(20,0))

0

In [35]:
name_to_age = {'Anne': 22, 'Anton': 27, 'Phillip': 30}
print(name_to_age.get('Danny'), -1)

None -1

In [36]:
place_and_money = {1: 100, 2: 50, 3: 10}

place_and_money.update({4:5, 5:1})

print(place_and_money)

{1: 100, 2: 50, 3: 10, 4: 5, 5: 1}

In [37]:
name_to_age = {'Anne': 22, 'Anton': 27, 'Phillip': 30}
name_to_age.update({'Anne': 23, 'Phillip': 29})
print(name_to_age)

{'Anne': 23, 'Anton': 27, 'Phillip': 29}

In [39]:
place_and_money = {1: 100, 2: 50, 3: 10}
result = place_and_money.pop(3)

print(place_and_money)
print(result)

{1: 100, 2: 50}
10

In [41]:
name_to_age = {'Anne': 22, 'Anton': 27, 'Phillip': 30}
result = name_to_age.pop('Anton')
print(result)

27

In [43]:
place_and_money = {1: 100, 2: 50, 3: 10}
place_and_money.setdefault(10,1)
print(place_and_money)

{1: 100, 2: 50, 3: 10, 10: 1}

In [46]:
test_dict = {5:[3,4,5], (3,4,5):'strong man'}
print(test_dict)

{5: [3, 4, 5], (3, 4, 5): 'strong man'}

In [47]:
test_dict2 = {'name':'Sancho', 'surname':'Panso', 'info':{'age': 35, 'country': 'Mexico'}}
print(test_dict2)

{'name': 'Sancho', 'surname': 'Panso', 'info': {'age': 35, 'country': 'Mexico'}}

In [48]:
test_dict3 = {'info':[10, 15, 27], 'about':{'game': 'football', 'period': 5}}
test_dict3['about'] = 'dont know'
print(test_dict3)

{'info': [10, 15, 27], 'about': 'dont know'}

# SETs

In [57]:
num_set = set(range(0,11))
date_num = set([1,9,4,8])
print(num_set.difference(date_num))

{0, 2, 3, 5, 6, 7, 10}

# Types

In [60]:
num1 = 3
num2 = 3.5

sum1 = num1+num2


num1 = float(num1)
sum2 = num1+num2
print(sum1)
print(sum2)

6.5
6.5

In [61]:
str_age_begin = 'my age is '
int_age = 18
result_string = str_age_begin+str(int_age)

print(result_string)

my age is 18

In [72]:

list6 = [3, 1, -10, 5, 11, 20, 1, -10]
list7 = list6
print(list7)

list6.sort()
list6.reverse()
list_result = list6
print(list_result)

[3, 1, -10, 5, 11, 20, 1, -10]
[20, 11, 5, 3, 1, 1, -10, -10]

In [73]:
list1 = [10,15]
tpl1 = tuple(list1)
dict1 = {tpl1: 'hello'}

print(dict1)

{(10, 15): 'hello'}

In [75]:
dict1 = {'name': 'unknown'}
dict2 = {'name': 'Tom'}
print(dict1,dict2)
print(dict1.keys(),dict1.values())

{'name': 'unknown'} {'name': 'Tom'}
dict_keys(['name']) dict_values(['unknown'])

In [78]:
s1 = set('hello')
list1 = ['w', 'o', 'w']
s2 = set(list1)
print(s1.union(s2), s1.intersection(s2),s1.difference(s2))

{'w', 'o', 'e', 'h', 'l'} {'o'} {'e', 'h', 'l'}